    1. Un usuario puede ser logado o Anónimo
    2. Solo un usuario logado podrá crear juegos
    3. Un usuario logado tendrá estadísticas de juegos jugados y premios alcanzados
    4. Un usuario podrá ver la lista de juegos disponibles
    5. Un usuario logado tendrá acceso a una lista de juegos privados
    6. Un usuario podrá buscar en la lista de juegos por nombre de juego o de creador
    7. Un usuario  podrá empezar un juego
    8. Cuando se empieza un juego se mostrará una introducción explicando el objetivo y un botón de continuar a la primera pista.
    9. Cuando un usuario pulsa mostrar primera pista empieza el juego.
    10. Cuando el usuario acierte una pista pasará a la siguiente.
    11. Cuando el usuario acierte la última pista habrá pasado el juego.
    12. Cuando el usuario haya pasado el juego se le mostrará un texto de enhorabuena y un un botón de obten tu premio.
    13. Cuando el usuario pulse en obtener premio se le mostrará el premio ganado, y la puntuación ganada por el juego.
    14. Las pistas mostradas serán de tres tipos: Elige una opción, escribe la respuesta o estar en el lugar correcto.
    15. Cuando se muestra una pista de "elige una opción", el usuario tendrá que elegir entre tres opciones.
    16. Las opciones "elige una opción" podrán ser de texto o imagenes.
    17. Un usuario que acierte una pista de "elige una opción" se llevará 10x puntos si acierta a la primera, 3x si es la segunda opción y X si es la tercera.
    18. Cuando se muestre una pista de "escribe la respuesta", el usuario tendrá que escribir la respuesta correcta
    19. Cuando se muestre una pista de "estar en el lugar correcto" el usuario tendrá que poner las coordenadas del lugar para aceptar la repuesta, o estar en el lugar y compartiendo posición si está disponible dicha opción.
    20. Cuando un usuario llega a una pista se activará un contador de tiempo
    21. Cuando un jugador lleve X tiempo en una pista se le mostrará una ayuda para resolverla.
    22. La ayuda para resolver "elige una opción" será eliminar una opción no válida
    23. La ayuda para "escribe la repuesta" será que aparezcan ciertas letras de la palabra.
    24. La ayuda para "estar en el lugar correcto" será mostrar la longitud
    25. Cuando un usuario elija crear juego se le mostraran las instrucciones para crearlo
    26. El usuario tendrá que elegir un nombre para crear el juego.
    27. Cuando un usuario esté creando un juego podrá elegir entre crear pista o añadir premio por ganar el juego.
    28. El premio por ganar podrá ser un texto, imagen o url a sitio externo.
    29. Un usuario que esté creando un juego podrá añadir un máximo de 10 pistas
    30. Un usuario que esté creando un juego podrá cambiar la dificultad del juego de fácil a medio o difícil.
    31. Cuando un usuario, que esté creando un juego, haya añadido el premio y al menos una pista podrá publicar el juego para que sea jugado.
    32. Un usuario logado tendrá una lista de juegos creados
    33. Un usuario logado podrá editar un juego que ha creado sino hay nadie jugando.
    34. Un usuario logado que edita un juego puede cambiar la difIcultad, las pistas y el premio.
    35. Un usuario logado podrá retirar un juego de ser jugado. 
    36. Un juego retirado no podrá ser empezado a jugar por ningún usuario
    37. Un juego dará puntos por pista según la dificultad. 10 por fácil, 100 por medio y 1000 por difícil.
    38. Un juego tendrá un nombre
    39. Un juego podrá ser valorado por los usuarios cuando finalice el juego.
    40. Un usuario que está valorando un juego pordrá elegir si le gusta entre niveles del 0 al 5 y la dificultad subjetiva.
    41. Si más de 50% de usuarios, habiendo al menos 10 que han jugado, valoran la dificultad subjetiva distinta a la definida, esta difitcultad cambiará a la elegida por los usuarios en su mayoría.
    42. Si un juego cambia de dificultad automáticamente por las valoraciónes de usuarios cambiará los puntos que han ganado todos los usuarios que han jugado.
    43. Para logarse un usuario necesitará meter un correo y una password.


No funcionales
    1. La Api debe implementar HTTP y HTTP/2 
    2. El servicio de envió de ayuda para las pistas deberá ser AMQP
    3. El sistema deberá aguantar al menos 50 usuarios concurrentes en 24/7
    4. El sistema deberá estar dividido en microservicios sobre kubernetes
    5. Se deberá realizar test de stres con una herramienta como Soap UI, J meter u otras.
    6. Los datos de usuario y juegos deberan ser persisitidos en un sitema que asegure su seguridad